html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #070a10;
  overflow: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

#app { width: 100%; height: 100%; }

canvas {
  display: block;
  width: 100%;
  height: 100%;
  touch-action: none;
}

* { -webkit-tap-highlight-color: transparent; }
